<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Blogs</title>
    <!-- Old version is commented out - Doesn't appear to be any difference -->
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"/>


    <!-- Old version is commented out - Doesn't appear to be any difference -->
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<!--    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>-->
</head>
<body>
<!-- Jinja example  to extend the base html to other pages-->
<!-- This must be rendered from Python or {} items will show up as text-->
{% block content %}

{% endblock %}
</body>
</html>